:root {
    --header-background-color: #1D1D1F;
    font-family: Verdana, sans-serif;
    font-size: 16px;
}

.index-centre {
    display: block;
}
@media screen and (min-width: 1366px) {
    .index-centre {
        padding-right: 32px;
        padding-left: 32px;
    }
}

.title {
    font-size: 24px;
    font-weight: bold;
    display: block;
}

a:link, a:visited{
    text-decoration: none;
    color: black;
}

a:hover{
    color: red;
}
