.form {
    border: 2px solid blue;
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form form {
    width: 100%;
}

.form .data {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form .header {
    margin: 10px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid blue ;
    width: 100%;
    text-align: center;
}

.form .data .field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 10% 10px 10%;
}

.form .send {
    width: 100%;
    border-top: 2px solid blue;
    text-align: center;
    padding: 10px 0;
}

.error {
    text-align: center;
    color: red;
}